<!DOCTYPE html>
<html style="background-color: aliceblue">

<head>
    <title>Details of {{ log_name }}</title>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
</style>
</head>

<body>

<h3 style="color: blue">Details of {{ log_name }}:</h3>
<table class="tg">
  <tr>
    <th class="tg-031e">Service Name</th>
    <th class="tg-031e">{{ log_name }}</th>
  </tr>
  <tr>
    <td class="tg-031e">Filtered log</td>
    <td class="tg-031e">
        <div style="height: 300px; overflow-y: auto; width: 1000px; overflow-x: auto;">{{ filtered|linebreaksbr }}</div></td>
  </tr>
  <tr>
    <td class="tg-031e">Pattern:</td>
    <td class="tg-031e">{{ FilterText }}</td>
  </tr>
  <tr>
    <td class="tg-031e">Lines:</td>
    <td class="tg-031e">{{ pt_nl }} of {{ nl }}</td>
  </tr>
  <tr>
    <td class="tg-031e">File size:</td>
    <td class="tg-031e">{{ size }} bytes</td>
  </tr>
  <tr>
    <td class="tg-031e">File timestamp:</td>
    <td class="tg-031e">{{ timestamp }}</td>
  </tr>
  <tr>
    <td class="tg-031e">Controls:</td>
    <td class="tg-031e">
        <span style="float: left;">
            <form action="" method="POST">{% csrf_token  %}
                <input type="hidden" name="refresh" value="{{ inc }}" />
                <input type="submit" value="Refresh" />
            </form>
        </span>
        <span style="float: left;">
            <form action="" method="POST">{% csrf_token  %}
                <input type="submit" value="Live" name="live" />
            </form>
        </span>
        <span style="float: left;">
            <form action="../" >
                <input type="submit" value="Back to list" name="back" />
            </form>
        </span>
    </td>
  </tr>
  <tr>
    <td class="tg-031e">Filter pattern:</td>
    <td class="tg-031e">
        <form action="" method="POST">{% csrf_token  %}
        <input type="text" name="FilterText" placeholder="Example: 'Filter Text', Text2" style="width: 250px"><br>
        <input type="submit" value="Submit">
        </form>
    </td>
  </tr>
</table>

</body>
</html>