<!DOCTYPE html>
<html style="background-color: aliceblue">
<head>
    <title>Details of {{ log_name }}</title>
<!--    <meta http-equiv="refresh" content="5"> -->
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:0px auto;}
.tg td{font-family:fantasy;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:fantasy;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
</style>
</head>
<body>

<h3 style="color: blue">Details of {{ log_name }}:</h3>
{% if logs %}


<table class="tg">
  <tr>
    <th class="tg-031e">Service Name</th>
    <th class="tg-031e">{{ log_name }}</th>
  </tr>
  <tr>
    <td class="tg-031e">Log file</td>
    <td class="tg-031e">
        <div style="height: 300px; overflow-y: auto">{{ logs|linebreaksbr }}</div></td>
  </tr>
  <tr>
    <td class="tg-031e">Lines:</td>
    <td class="tg-031e">{{ inc }} / {{ nl }}</td>
  </tr>
  <tr>
    <td class="tg-031e">File size:</td>
    <td class="tg-031e">{{ size }} bytes</td>
  </tr>
  <tr>
    <td class="tg-031e">Controls:</td>
    <td class="tg-031e">
        <span style="float: left; ">
            <form action="." method="POST">{% csrf_token  %}
                <input type="hidden" name="less" value="{{ inc }}" />
                <input type="submit" value="<< Less" />
            </form>
        </span>
        <span style="float: left;">
            <form action="." method="POST">{% csrf_token  %}
                <input type="hidden" name="more" value="{{ inc }}" />
                <input type="submit" value="More >>" />
            </form>
        </span>
        <span style="float: left;">
            <form action="." method="POST">{% csrf_token  %}
                <input type="hidden" name="refresh" value="{{ inc }}" />
                <input type="submit" value="Refresh" />
            </form>
        </span>
<!-- Not implemented yet!
        <span style="float: left;">
            <form action="." method="POST">{% csrf_token  %}
                <input type="submit" name="live" value="Live" />
            </form>
        </span>
-->
    </td>
  </tr>
</table>

{% else %}
    <p>No details are available.</p>
{% endif %}

</body>
</html>